<!-- 

    <div>
        <a class="fw-regular" href="{% url 'customer_find' %}">Find a customer by mobile:</a>
        <div class="container-fluid bg-light">
            <form class="d-flex" role="search" action="" method="get" id="forms">
                <input class="form-control me-2" type="text" placeholder="Enter a customer's mobile" name="mobile">
                <input class="btn btn-outline-primary create px-2" type="submit" value="Search">
            </form>
        </div>
    </div>
    <p class="text-primary fw-semibold fs-4 font-monospace mt-2">Create order</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="order" disabled value="{{order.id}}">
        <input type="text" name="name" placeholder="Customer" value="{% if customer.name %} {{customer.name}} {% endif %}">
        <input type="text" name="mobile" placeholder="Mobile"
            value=" {% if customer.mobile %} {{customer.mobile}} {% endif %}">
        <input type="text" name="address" placeholder="Address"
            value="{% if customer.address %} {{customer.address}} {% endif %}">
        <input type="submit" value="Save">
    </form>
    <div> -->