/*! Start Break Points */
    /*  Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) { ... }

    Medium devices (tablets, 768px and up)
    @media (min-width: 768px) { ... }

    Large devices (desktops, 992px and up)
    @media (min-width: 992px) { ... }

    X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { ... }

    XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) { ... } */
/*! End Break Points */



/**************************************** Start Global Vars ****************************************/
:root {
    --yellow-color:#ffc107;
    --red-color:#f22e24;
}

/**************************************** End Global Vars ****************************************/

/****************************************? Start Layout ****************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/**************************************** Start Navbar ****************************************/

/**************************************** End Navbar ****************************************/



#logo {
    font-family: 'Rubik Spray Paint', cursive;
}

