{% extends 'core/_base.html' %}
{% block content %}
<div id="orders" >
    <h4 class="text-center text-danger fw-bold fs-3" style="color:red">All Orders</h4>
    <a class="create" href="{% url 'customer_create' %}">Create Customer</a>
    <a class="create" href="{% url 'item_create' %}">Create Item</a>
    {% comment %} <a class="create" href="">Create Order</a> {% endcomment %}
    <div class="mt-1">
        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th>N.</th>
                    <th>Customer Name</th>
                    <th>Mobile</th>
                    <th>Created At</th>
                    <!-- <th>Grand Total</th> -->
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody hx-confirm="Are you sure?" hx-target="closest tr" hx-swap="outerHTML swap:1s">
                {% for order in orders %}
                <tr>
                    <th>{{order.id}}</th>
                    <td><a href="{% url 'order_detail' order.id %}">
                            <span class="fw-semibold">{{order.customer}}</span>
                        </a></td>
                    <td>{{order.customer.mobile}}</td>
                    <td>{{order.created|time}}</td>
                    <!-- <td class="text-danger">104.5</td> -->
                    <td><a href="#">{% if order.active %} <span style="color: red;">Open</span> {% else %} <span class="text-success">Closed</span> {% endif %}</a></td>
                    <td class="bg-danger rounded-1"><a class="text-light fw-semibold" href="{% url 'order_delete' order.id %}">delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}