{% extends 'core/_base.html' %}
{% block content %}
    <div>
        <h1>Create order</h1>
        <div>
            <a href="{% url 'customer_find' %}">find a customer by mobile:</a>
            <form action="" method="get">
                <input type="text" placeholder="Enter a mobile" name="mobile">
                <input type="submit" value="Find">
            </form>
            <h6>Search result</h6>
            <p style="color: brown;">{{customer.id}} <span style="color: blue;">{{customer.name}} </span><span style="color: red;">{{customer.mobile}}</span></p>
        </div>
        <br>
        <form action="" method="post">{% csrf_token %}
            
            <input type="text" name="name" placeholder="customer" 
            value="{{customer.name}}">
            <input type="text" name="mobile" placeholder="mobile" value="{{customer.mobile}}">
            <input type="text" name="address" placeholder="address" value="{{customer.address}}">
            <input type="text" name="order" placeholder="order" value="{{order.id}}">
            <input type="submit" value="Save">
        </form>     
        <h6>Result:</h6>
        <p>{{customer}}</p>

    </div>
    {% endblock %}
    