{% extends 'core/_base.html' %}
{% block content %}
<div id="orders">
    <a class="create" href="{% url 'customer_create' %}">Create Customer</a>
    <a class="create" href="{% url 'item_create' %}">Create Item</a>
    {% comment %} <a class="create" href="">Create Order</a> {% endcomment %}
    <div class="mt-1">
        <h4>All Orders</h4>
        <table class="table table-responsive table-bordered table-hover">
            <thead>
                <tr>
                    <th>N.</th>
                    <th>Customer Name</th>
                    <th>Mobile</th>
                    <th>Created At</th>
                    <th>Active</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                <tr>
                    <th >{{order.id}}</th>
                    <td ><a href="{% url 'order_detail' order.id %}">
                        {{order.customer}}
                    </a></td>
                    <td>{{order.customer.mobile}}</td>
                    <td>{{order.created|time}}</td>
                    <td>{% if order.active %} Yes {% else %} NO {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}